.gallery {
    /* visibility: hidden; */
    margin-top: 50px;
    width: 800px;
    height: 480px;
    border: 1px solid grey;
    overflow: hidden;
}

img {
    width: 800px;
    height: 480px;
    position: absolute;
    opacity: 0;
}

.img-video {
    position: absolute;
    opacity: 0;
}

.para {
    position: absolute;
    opacity: 0;
    color: red;
    font-size: 60px;
    font-family: cursive;
}

button {
    margin: 20px;
}

.myVideo {
    width: 800px;
    height: 480px;
    position: absolute;
    opacity: 0;
}

#myVideo-1 {
    height: 100px;
    width: 200px;
    left: -10px;
    bottom: 183px;
    z-index: 3;
}

.para1 {
    bottom: 144px;
}