/* page layout */

body {
	background: #1d1d1d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app {
	position: relative;
	box-sizing: border-box;
}

h1{
	color: lightgray;
}

#audios {
	display: flex;
}